<h1> <%= link_to "Post", posts_path %>, <%= link_to "Article",   articles_path  %> </h1>
<div>
  <%= link_to  "New Article", new_article_path %>
</div>

<% @articles.each do |article| %>
<%= render article %>


<% end %>